@use 'styles/settings.scss'as s;
@use 'styles/mixins.scss'as mx;

.task {
    padding: 30px;
    border-radius: 10px;
    background: s.$white;
    width: 100%;
    box-shadow: 0 0px 20px rgba(s.$black, 0.05);
    display: block;
    color: s.$body-color;
    font-weight: s.$weight-regular;
    position: relative;

    &:hover,
    &:focus {
        color: s.$body-color;
        box-shadow: 0 5px 30px rgba(s.$black, 0.15);
        transform: translateY(-5px);

        .indicator {
            height: 40%;
        }
    }

    .indicator {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 50%;
        border-radius: 3px;

        &:not([class*=bg-gradient]) {
            background: s.$primary;
        }
    }

    .main-info {
        display: flex;
        align-items: center;

        .icon-container {
            font-size: 24px;
            margin-right: 15px;
            width: 50px;
            height: 50px;
            background: s.$light-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .name {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: s.$weight-bold;
            line-height: 1.2;
            @include mx.breakpoint(large) {
                font-size: 20px;
            }
        }

        .time {
            opacity: .75;
            font-size: 12px;
        }
    }

    .description-container {
        max-height: 4rem;
        overflow: hidden;
    }

    .assignee-list {
        position: absolute;
        right: -15px;
        bottom: -20px;
    }
}