
@use 'styles/settings.scss' as s;
@use 'styles/mixins.scss' as mx;

.input-element {
    margin: 20px 0 30px 0;

    .error {
        color: s.$red;
        margin: 10px 0 20px 0;
        padding-left: 15px;
        line-height: 1;
    }

    .input-field {
        position: relative;
        width: 100%;
        &.mandatory {
            label {
                &:after {
                    content: ' *';
                    color: s.$primary;
                }
            }
        }

        label {
            font-size: 16px;
            position: absolute;
            left: 20px;
            font-weight: s.$weight-bold;
            z-index: 20;
            transform: translateY(-50%);
        }

        textarea {
            resize: none;
            height: 300px;
        }

        input,
        textarea {
            width: 100%;
            font-size: 16px;
            border: none;
            padding: 20px;
            outline: none;
            border-radius: 15px;
            position: relative;
            display: block;
            border-radius: 15px;
            color: s.$body-color;
            font-weight: s.$weight-regular;
            font-family: s.$body-font;
            background: rgba(0, 0, 0, 0.025);
        }
    }

    .note {
        margin-top: 5px;
        font-size: 12px;
        display: flex;
        align-items: center;
        span {
            margin-right: 5px;
            font-size: 12px;
        }
    }
}

