
.project-details {
    .detail-grid {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bar-chart-container {
        height: 225px;
        margin-top: 8px;
        margin-bottom: 30px;
    }
}

