
@use 'styles/settings' as s;

.task-form {
    .emoji-mart {
        width: 100% !important;
        height: 340px;
        border-radius: 15px;
        overflow: hidden;
        background: s.$background-white;

        .emoji-mart-scroll {
            height: 247.5px;
        }

        .emoji-mart-preview {
            display: none;
        }

        .emoji-mart-emoji span {
            cursor: pointer;
        }

        .emoji-mart-category-label span {
            background: rgba(s.$background-white-rgb, 0.95);
            color: s.$text;
        }

        .emoji-mart-category .emoji-mart-emoji:hover::before {
            background: s.$background-input;
        }
    }

    .current-icon {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .error {
        margin-top: 10px;
        font-style: italic;
    }
}

