
.task-form {
    .emoji-mart {
        width: 100% !important;
        height: 340px;
        border-radius: 15px;
        overflow: hidden;

        .emoji-mart-scroll {
            height: 247.5px;
        }

        .emoji-mart-preview {
            display: none;
        }
    }

    .current-icon {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .error {
        margin-top: 10px;
        font-style: italic;
    }
}

