
.task-form {
    .emoji-picker-react {
        width: 100%;
        height: 340px;
        border-radius: 15px;
    }

    .current-icon {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .error {
        margin-top: 10px;
        font-style: italic;
    }
}

