
@use 'styles/settings.scss' as s;
@use 'styles/mixins.scss' as mx;
@use 'styles/functions.scss' as fn;

.site-aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 340px;
    width: 100%;
    background: s.$background-dark;
    z-index: 2000;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translateX(-100%);
    visibility: hidden;
    padding: 50px 30px;
    color: s.$white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.shown {
        transform: translateX(0);
        visibility: visible;
    }

    @include mx.breakpoint(large) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateX(0);
        visibility: visible;
    }

    .profile {
        margin-bottom: 50px;

        .avatar {
            width: 130px;
            height: 130px;
            margin-bottom: 20px;
            font-size: 64px;
        }

        .name {
            font-size: fn.toRem(20);
            font-weight: s.$weight-semi-bold;
            display: block;
        }

        .username {
            font-size: fn.toRem(14);
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
        color: s.$white;
        opacity: 0.7;

        .icon {
            padding-right: 10px;
        }

        &.active,
        &:hover {
            opacity: 1;
        }

        &.active {
            .icon {
                font-family: 'Material Icons';
                transform: none;
            }
        }
    }

    .site-nav {
        display: none;
        position: relative;
        background: transparent;
        box-shadow: none;
        height: auto;
        padding-bottom: 30px;
        margin-bottom: 30px;

        @include mx.breakpoint(medium) {
            display: block;
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 40px;
            background: rgba(s.$background-white-rgb, 0.05);

        }

        .nav-link {
            padding: 10px 0;

            .label {
                position: static;
                transform: none;
                opacity: 1;
                font-size: fn.toRem(20);
            }
        }

        .background {
            display: none;
        }
    }

    .secondary-nav {
        display: block;
        margin-bottom: 24px;

        .nav-link {
            font-size: fn.toRem(18);
            padding: 5px 0;
        }
    }

    .stats {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: fn.toRem(14);
        font-weight: s.$weight-semi-bold;

        .bar-chart-container {
            background: transparent;
            padding: 35px 0;

            .bar-chart {
                &:before,
                &:after {
                    opacity: 0.15;
                }
            }

            .bar {
                background: s.$background-white;
            }
        }
    }
}

