
@use 'styles/settings.scss' as s;

.team-member-item {
    display: flex;
    align-items: center;
    width: 85%;
    padding: 10px;
    background: s.$background-white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(s.$black, 0.1);
    position: relative;

    .avatar {
        width: 60px;
        height: 60px;
        transform: translateX(-50%);
        font-size: 28px;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .details {
        margin-left: -10px;
    }

    .name {
        font-weight: s.$weight-bold;
        font-size: 18px;
    }

    .info {
        font-size: 14px;
        line-height: 1.2;
    }

    .dropdown-container {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
    }

    .settings {
        user-select: none;
        height: 35px;
        width: 35px;
        background: s.$primary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        color: s.$white;
        border-radius: 50%;
        cursor: pointer;

        .icon {
            margin-right: 0;
        }
    }
}

