
.circular-progress {
    path {
        stroke-width: 20;
        stroke-linecap: round;
        stroke: url(#gradient);
        fill: none;
    }

    circle {
        fill: none;
        stroke: #dcdcdc;
        stroke-width: 20;
    }
}

