
@use 'styles/settings.scss' as s;

.tabs-container {
    display: flex;
    justify-content: space-between;
    background: rgba(s.$background-white-rgb, 0.25);
    border-radius: 15px;
    margin-top: 30px;
    position: relative;

    .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(50% - 20px);
        height: 50px;
        color: s.$text;
        font-weight: s.$weight-semi-bold;
        font-size: 14px;
        position: relative;
        z-index: 2;

        &:before {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%) scaleX(0);
            height: 5px;
            width: 30px;
            background: s.$primary;
            border-radius: 3px;
            transition: s.$transition;
        }

        &.active {
            font-weight: s.$weight-bold;
            font-size: 16px;

            &:before {
                transform: translate(-50%, 50%) scaleX(1);
            }
        }
    }

    .tab {
        &.active {
            &:first-of-type {
                &+.background {
                    left: 0;
                }
            }

            &:last-of-type {
                &+.background {
                    left: calc(50% + 20px);
                }
            }
        }
    }

    .background {
        position: absolute;
        height: 100%;
        background: s.$background-white;
        z-index: 0;
        top: 0;
        left: 0;
        width: calc(50% - 20px);
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(s.$black, 0.05);
    }
}

