
@use 'styles/settings.scss' as s;
@use 'styles/mixins.scss' as mx;
@use 'styles/functions.scss' as fn;

.landing-page {
    // General

    h2 {
        @include mx.breakpoint(large) {
            margin: 0 auto fn.toRem(24) auto;
            max-width: 560px;
            text-align: center;
        }
    }

    section {
        margin-bottom: 70px;

        @include mx.breakpoint(large) {
            margin-bottom: 180px;
        }

        &.darker {
            padding: 30px 0;
            color: #f1f1f1;
            background: linear-gradient(180deg, #2E313B 0.01%, #0C0E18 100%);

            @include mx.breakpoint(large) {
                margin: 0 75px;
                padding: 75px 0;
                border-radius: 25px;
            }
        }
    }

    // Hero section

    header {
        display: flex;
        align-items: center;
        padding: 20px;

        @include mx.breakpoint(500) {
            padding-top: 80px;
        }

        @include mx.breakpoint(large) {
            width: 30%;
            padding-bottom: 160px;
        }

        nav {
            display: flex;

            a {
                color: s.$text;
                font-weight: s.$weight-bold;
                margin-left: 40px;
                display: none;

                @include mx.breakpoint(medium) {
                    display: block;
                }
            }
        }
    }

    .hero-section {
        position: relative;

        .hero-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mx.breakpoint(medium) {
                height: calc(100vh - 0.5rem);
            }

            @include mx.breakpoint(xlarge) {
                height: calc(100vh - 6rem);
            }

            .text-container {
                position: relative;
                z-index: 2;
                padding-bottom: 30px;
                font-size: fn.toRem(18);

                @include mx.breakpoint(500) {
                    width: 50%;
                }

                @include mx.breakpoint(medium) {
                    width: 30%;
                    padding-bottom: 160px;
                }

                .button-container {
                    margin-top: 40px;
                }
            }

            .preview-container {
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 20px 0;
                padding: 30px 0;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                background: s.$linear-gradient;

                @include mx.breakpoint(500) {
                    right: 0;
                    height: 100%;
                    width: 40%;
                    top: 0;
                    border-bottom-left-radius: 50px;
                    position: absolute;
                    margin: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                @include mx.breakpoint(large) {
                    width: 45%;
                }

                .preview-phone {
                    transform: translate(50%, 0%);
                    width: 75vw;

                    @include mx.breakpoint(500) {
                        left: 0;
                        top: 50%;
                        transform: translate(-20%, -50%);
                        position: absolute;
                        width: 200px;
                    }

                    @include mx.breakpoint(medium) {
                        left: 0;
                        transform: translate(-30%, -50%);
                        top: 50%;
                        width: 300px;
                    }

                    .inner {
                        padding-bottom: 177.77777777778%;
                        background: url('/images/screen-design.jpg');
                        background-size: 100% auto;
                        background-repeat: no-repeat;
                        background-position: top left;
                        width: 100%;
                        border: 7px solid #303030;
                        border-radius: 25px;
                        box-shadow: 0 0 40px rgba(s.$black, 0.15);

                        @include mx.breakpoint(medium) {
                            border-width: 10px;
                        }

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 25%;
                            height: 20px;
                            background: #303030;
                            left: 50%;
                            top: 2px;
                            border-radius: 5px;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }

    // Intro Section

    .intro-section {
        .intro-container {
            @include mx.breakpoint(medium) {
                display: flex;
                align-items: center;
            }
        }

        .text-container {
            padding-right: 10%;
            margin-bottom: 50px;

            @include mx.breakpoint(medium) {
                flex-grow: 1;
                margin-bottom: 0;
            }
        }

        .preview-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 24px;
            justify-content: center;
            align-items: center;
            background: rgba(s.$white, 0.5);
            border-radius: 25px;
            padding: 24px;

            @include mx.breakpoint(large) {
                padding: 48px;
            }
        }

        .project-overview {
            display: grid;
            grid-gap: 20px;
            grid-template-areas:
                'small-1 large'
                'small-2 large';

            @include mx.breakpoint(medium) {
                grid-gap: 30px;

                .project-small {
                    .project {
                        width: 150px;
                        height: 150px;
                    }
                }

                .project-large {
                    .project {
                        width: 150px;
                        height: 330px;
                    }
                }
            }

            .small-1 {
                grid-area: small-1;
            }

            .small-2 {
                grid-area: small-2;

                .project {
                    animation-delay: 3s;
                }
            }

            .large {
                grid-area: large;

                .project {
                    animation-delay: 6s;
                    height: 100%;
                }
            }

            .project {
                animation: move-up 9s ease-in infinite;

                svg {
                    width: 70px;
                    height: 70px;
                }

                @keyframes move-up {
                    5%, 35% {
                        transform: translateY(0);
                        box-shadow: 0px 5px 25px rgba(s.$black, 0.05);
                    }
                    10%, 30% {
                        transform: translateY(-10px);
                        box-shadow: 0px 5px 30px rgba(s.$black, 0.15);
                    }
                }

            }
        }
    }

    //Feature section

    .feature-section {
        .feature-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5rem auto;
        }

        .feature-list {
            margin-top: 10px;

            @include mx.breakpoint(medium) {
                display: flex;
                justify-content: center;
            }
        }

        .feature-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1.5rem 0;

            @include mx.breakpoint(medium) {
                padding: 20px;
            }
        }

        .feature-icon {
            background: s.$radial-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 5rem;
        }

        .feature-title {
            margin: 1rem 0;
        }
    }

    // Team section

    .team-section {
        .team-container {
            @include mx.breakpoint(large) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .team-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .team-member {
            text-align: left;
            margin: 3rem 0;

            @include mx.breakpoint(medium) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .team-member-title {
                font-size: fn.toRem(14);
                font-weight: s.$weight-bold;
                display: inline-block;
                padding: 2px 10px;
                text-transform: uppercase;
                background: radial-gradient(100% 1892.25% at 0% 0%, #AC42FF 0%, #8A24DA 100%);
                letter-spacing: 0.5px;
                margin-bottom: 10px;
                color: s.$white;
                border-radius: 5px;
            }

            .team-member-image {
                margin-right: 0;
                margin-bottom: 3rem;
                border-radius: 50%;

                @include mx.breakpoint(medium) {
                    margin-right: 3rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    .contact-section {
        .contact-container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .contact-form {
            margin-top: 2rem;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;

        }
    }

    footer {
        .footer-container {
            padding: 100px 0;
        }

        .footer-copyright {
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .logo {
            margin-bottom: 10px;
        }

        .footer-nav {
            flex: 1 1 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;

            a {
                padding: 5px 10px;
            }
        }
    }
}

