
@use 'styles/settings.scss' as s;

.project-slide {
    padding: 30px;
    background: s.$background-white;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(s.$black, 0.05);
    min-height: 180px;
    color: s.$text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    will-change: transform;

    &:hover ,
    &:focus {
        color: s.$text;
        box-shadow: 0 0 35px rgba(s.$black, 0.1);
        transform: translateY(-5px);
    }

    .head {
        margin-bottom: 20px;

        .name {
            font-weight: s.$weight-bold;
            font-size: 20px;
        }

        .range {
            font-weight: s.$weight-semi-bold;
            font-size: 14px;
        }
    }

    .details {
        display: flex;
        align-items: center;

        .assignee-list {
            margin-right: 20px;
        }

        .progress {
            font-size: 12px;

            .label {
                margin-top: 5px;
            }
        }
    }
}

