.teams-page {
    .dropdown-container {
        margin: 10px 0;
        h2 {
            margin: 0;
        }
    }
    .buttons {
        margin: 25px 0;
    }
    .button {
        margin: 5px 0;
    }
    .detail-grid {
        margin-top: 10px;
    }
    .description-container {
        margin-bottom: 40px;
    }
}
