@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --primary: #AC42FF;
    --secondary: #F15154;
    --accent: #7DEFFF;
    --linear-gradient: linear-gradient(to bottom, var(--secondary), var(--primary));
    --radial-gradient: radial-gradient(100% 115% at 0% 0%, var(--primary) 0%, var(--secondary) 100%);
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semi-bold: 600;
    --weight-bold: 700;
    --body-color: #4B4B4B;
}

html {
    scroll-behavior: smooth;
}

.content-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    position: relative;
    color: var(--body-color);
    background: linear-gradient(to left, #F9F9F9 0%, #FBFBFB 100%);
}

.page-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
}

h1 {
    font-size: 2rem;
    font-weight: var(--weight-bold);
    margin-bottom: 20px;
}

h2 {
    font-size: 1.75rem;
    font-weight: var(--weight-bold);
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: var(--weight-semi-bold);
    margin-bottom: 0.75rem;
}

h4 {
    font-size: 1rem;
    font-weight: var(--weight-semi-bold);
    margin-bottom: 0.75rem;
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 2.25rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}

.intro-section .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    text-align: center;
}

.feature-section .feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    text-align: center;
}

.feature-section .feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: center;
}

.feature-section .feature-item {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 0 1rem;
}

.feature-section .feature-icon {
    background: var(--radial-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem;
}

.feature-section .feature-title {
    margin: 1rem 0;
}

@media screen and (max-width: 750px) {
    .feature-section .feature-list {
        flex-direction: column;
        align-items: center;
    }

    .feature-section .feature-item {
        padding: 1.5rem 0;
    }
}

.team-section .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    text-align: center;
}

.team-section .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-section .team-member {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.team-section .team-member-image {
    margin-right: 3rem;
    border-radius: 50%;
}

.team-section .team-member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

@media screen and (max-width: 750px) {
    .team-section .team-member-image {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .team-section .team-member {
        flex-direction: column;
    }

    .team-section .team-member-info {
        align-items: center;
        text-align: center;
    }
}

.contact-section .contact-container {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    text-align: center;
}

.contact-section .contact-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-section .contact-form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.contact-section .contact-fields {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-section .contact-field {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-section .contact-message {
    margin: 0.5rem;
}

.contact-section .contact-message textarea {
    width: 100%;
    box-sizing: border-box;
}

.contact-section .submit-button {
    appearance: none;
    border: none;
    margin: 0.5rem;
}

@media screen and (max-width: 600px) {
    .contact-section .contact-form-input {
        flex-direction: column;
        align-items: center;
    }

    .contact-section .contact-fields {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .footer-copyright {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footer-more {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footer-nav {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

a {
    text-decoration: none;
    transition: box-shadow 300ms ease;
}

.button {
    padding: 14px 35px;
    font-size: 18px;
    font-weight: var(--weight-bold);
    background: radial-gradient();
    background: radial-gradient(60% 100% at 50% 0%, #D298FF 0.01%, var(--primary) 100%);
    box-shadow: 0px 5px 25px -5px rgba(var(--primary), 0.35);
    border-radius: 25px;
    display: inline-block;
    color: #fff;
}

.button:hover {
    box-shadow: 0px 5px 40px -5px rgba(var(--primary), 0.35);
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav a {
    color: var(--body-color);
    font-weight: var(--weight-bold);
    margin-left: 40px;
    display: none;
}

.hero-section {
    position: relative;
}

.hero-section .text-container {
    font-weight: var(--weight-semi-bold);
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
    font-size: 18px;
}

.hero-section .button-container {
    margin-top: 40px;
}

.hero-section .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section .preview-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 30px 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: var(--linear-gradient);
}

.hero-section .preview-phone {
    transform: translate(50%, 0%);
    width: 75vw;
}

.preview-phone .inner {
    padding-bottom: 177.77777777778%;
    background: #fff;
    width: 100%;
    border: 7px solid var(--body-color);
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .15);
}

.preview-phone .inner:before {
    content: ' ';
    position: absolute;
    width: 25%;
    height: 16px;
    background: var(--body-color);
    left: 50%;
    top: 2px;
    border-radius: 5px;
    transform: translateX(-50%);
}


@media screen and (min-width: 500px) {
    .hero-section .preview-container {
        right: 0;
        height: 100%;
        width: 40%;
        top: 0;
        border-bottom-left-radius: 50px;
        position: absolute;
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .hero-section .preview-phone {
        left: 0;
        top: 50%;
        transform: translate(-20%, -50%);
        position: absolute;
        width: 200px;
    }

    .hero-section .text-container {
        width: 50%;
        font-size: 24px;
    }
}

@media screen and (min-width: 860px) {
    nav a {
        display: inline-block;
    }

    header {
        padding-top: 80px;
        padding-left: 90px;
    }

    .hero-section .hero-container {
        height: 100vh;
    }


    .hero-section .preview-phone {
        left: 0;
        transform: translate(-30%, -50%);
        top: 50%;
        width: 300px;
    }

    .hero-section .preview-phone .inner {
        border-width: 10px;
    }

    .hero-section .text-container {
        width: 32%;
        padding-bottom: 160px;
    }
}

@media screen and (min-width: 1280px) {
    body {
        padding: 5rem 0;
    }

    .hero-section .preview-container {
        width: 45%;
    }


    .hero-section .hero-container {
        height: calc(100vh - 100px);
    }
}

.background-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}


@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(15%, -20%) scale(1.2);
    }

    100% {
        transform: translate(0, 0);
    }
}

.background-container .bubble {
    width: 250px;
    height: 250px;
    position: absolute;
    filter: blur(100px);
    opacity: 0.5;
    animation: move 10s ease infinite;
}

@media screen and (min-width: 1280px) {
    .background-container .bubble {
        width: 500px;
        height: 500px;
        filter: blur(200px);
        opacity: 0.75;
    }
}

.bubble.secondary {
    background: var(--secondary);
}

.bubble.primary {
    background: var(--primary);
}

.bubble.accent {
    background: var(--accent);
}