@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --primary: #AC42FF;
    --secondary: #F15154;
    --linear-gradient: linear-gradient(to bottom, var(--secondary), var(--primary));
    --radial-gradient: radial-gradient(100% 115% at 0% 0%, var(--primary) 0%, var(--secondary) 100%);
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semi-bold: 600;
    --weight-bold: 700;
    --body-color: #4B4B4B;
}

html {
    scroll-behavior: smooth;
}

.content-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
   body {
       padding-top: 100px;
   } 
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/background.svg');
    background-size: 400vw;
    background-position: center;
    background-color: #f9f9f9;
    background-repeat: repeat;
    color: var(--body-color);
}

.page-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
}

h2 {
    font-size: 2.25rem;
    font-weight: var(--weight-bold);
}

h3 {
    font-size: 1.5rem;
    font-weight: var(--weight-semi-bold);
}

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.feature-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
}

.feature-item {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.feature-icon {
    background: var(--radial-gradient);
    background-clip: text;
    color: transparent;
    font-size: 5rem;
}

.feature-title {
    padding: 1rem 0;
}

a {
    text-decoration: none;
    transition: box-shadow 300ms ease;
}

.button {
    padding: 14px 35px;
    font-size: 18px;
    font-weight: var(--weight-bold);
    background: radial-gradient();
    background: radial-gradient(60% 100% at 50% 0%, #D298FF 0.01%, var(--primary) 100%);
    box-shadow: 0px 5px 25px -5px rgba(var(--primary), 0.35);
    border-radius: 25px;
    display: inline-block;
    color: #fff;
}

.button:hover {
    box-shadow: 0px 5px 40px -5px rgba(var(--primary), 0.35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
