.tasks-detail-page {
    .tag {
        margin-bottom: 10px;
    }
    .description-container {
        margin-bottom: 30px;
    }
    .detail-grid {
        margin-bottom: 40px;
    }
    h2 {
        margin-bottom: 10px;
    }
    .button {
        margin-bottom: 10px;
    }
}