@use 'styles/mixins.scss' as mx;

.tasks-detail-page {
    .tag {
        margin-bottom: 20px;
    }

    .description-container {
        margin-bottom: 30px;
    }

    .detail-grid {
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 15px;
    }

    .button {
        margin-bottom: 10px;
    }

    .button-container {
        @include mx.breakpoint(medium) {
            display: flex;
            margin: -5px;

            .button {
                margin: 5px;

            }
        }
    }
}