
@use 'styles/settings' as s;
@use 'styles/mixins' as mx;

.contact-form {
    .fields {
        width: 100%;
    }

    .input-element {
        &.textarea {
            width: 100%;
        }

        .input-field {
            input, textarea {
                background-color: #ffffff20;
                color: white;
            }
        }
    }

    .submit-button {
        appearance: none;
        border: none;
        margin: 0.5rem;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}

