@use 'styles/settings'as s;
@use 'styles/mixins'as mx;

.contact-form {
    .fields {
        width: 100%;
    }

    .input-element {
        &.textarea {
            width: 100%;
        }
    }

    .submit-button {
        appearance: none;
        border: none;
        margin: 0;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}