
@use 'styles/settings.scss' as s;
@use 'styles/mixins.scss' as mx;

.project-slider {
    overflow: hidden;
    padding: 200px;
    margin: -210px;
    margin-right: -50px;
    padding-right: 50px;

    .alice-carousel__wrapper {
        overflow: visible;
    }

    .project-slide {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin: 10px;
    }
}

