@use 'styles/settings.scss'as s;
@use 'styles/mixins.scss'as mx;


.project-slider {
    margin: -10px;
    overflow: hidden;
    padding: 200px;
    margin: -200px;
    margin-right: -50px;
    padding-right: 50px;

    .alice-carousel__wrapper {
        overflow: visible;
    }

    .project-slide {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin: 10px;
    }
}