@use 'styles/settings.scss' as s;
.task-list {
    & > * {
        margin: 30px 0;
    }
    .add-btn {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: s.$white;
        font-weight: s.$weight-semi-bold;

        font-size: 36px;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 5px rgba(s.$black, 0.05);
        }
    }
    .task {
        padding: 25px;
        .description-container {
            display: block;
            margin: 5px 0;
        }
    }
}
