@use 'styles/mixins' as mx;
body {
    @include mx.breakpoint(xlarge) {
        padding: 5rem 0;
    }
}
.page-container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
}

