
@use 'styles/settings' as s;
@use 'styles/mixins' as mx;
@use 'styles/functions' as fn;

.tasks-page {
    h2 {
        margin-top: 40px;
        margin-bottom: 10px;

        @include mx.breakpoint(medium) {
            margin-top: 60px;
            margin-bottom: 10px;
        }
    }

    .intro-section {
        font-size: fn.toRem(18);

        @include mx.breakpoint(large) {
            font-size: fn.toRem(20);
        }
    }

    .tasks-container {
        margin-top: 20px;
        margin-bottom: 60px;

        .task {
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }

    .working-on .task {
        box-shadow: 0 0 20px var(--primary);
    }

    .task-error {
        margin-top: 20px;
        border-radius: 5px;
        padding: 20px;
        background: s.$background-white;
        text-align: center;
    }
}

