@use 'styles/settings'as s;
@use 'styles/functions'as fn;

.button {
    padding: 14px 50px;
    font-size: fn.toRem(18);
    font-weight: s.$weight-bold;
    background: s.$linear-gradient;
    box-shadow: 0px 5px 15px rgba(s.$primary, 0.1);
    border-radius: 25px;
    display: inline-block;
    color: s.$white;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;

    &.expanded {
        width: 100%;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 10px 25px rgba(s.$primary, 0.25);
        cursor: pointer;
        color: s.$white;
        transform: translateY(-5%);
    }

    &:active {
        transform: scale(0.9);
    }

    &.dark {
        background: darken(s.$primary, 40%);
        box-shadow: 0px 5px 15px rgba(darken(s.$primary, 40%), 0.1);
    }
}