
@use 'styles/settings';
@use 'styles/functions';

.button {
    padding: 14px 50px;
    font-size: functions.toRem(18);
    font-weight: settings.$weight-bold;
    background: radial-gradient(60% 100% at 50% 0%, #D298FF 0%, settings.$primary 100%);
    box-shadow: 0px 5px 15px rgba(settings.$primary, 0.25);
    border-radius: 25px;
    display: inline-block;
    color: settings.$white;
    text-transform: uppercase;
    user-select: none;

    &:hover,
    &:focus {
        box-shadow: 0px 10px 25px rgba(settings.$primary, 0.35);
        cursor: pointer;
        color: settings.$white;
        transform: translateY(-5%);
    }

    &:active {
        transform: scale(0.9);
    }
}

