
// Colors
$primary: #AC42FF;
$secondary: #7DEFFF;
$light: #F1F1F1;
$dark: #180923;

$light-gray: #F8F8F8;

$white: #fff;
$black: #000;

$error-color: $secondary;

$colors: (
   'primary': $primary,
   'secondary': $secondary,
   'light': $light,
   'dark': $dark
);

$linear-gradient: linear-gradient(to bottom, $primary, #930AFF);
$radial-gradient: radial-gradient(100% 115% at 0% 0%, $primary 0%, #930AFF 100%);

$body-color: #3A5255;
$body-font: 'Poppins', sans-serif;

// Typography
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-xbold: 800;

// Breakpoints
$breakpoints: (
    'small': 480px,
    'medium': 860px,
    'large': 1400px,
    'xlarge': 1640px
);

// General
$transition: 300ms ease;

