
@use 'styles/settings';

.button.button-link {
    padding: 0;

    a {
        display: inline-block;
        padding: 14px 50px;

        &, &:hover, &:active, &:focus {
            color: settings.$white;
        }
    }
}

