
@use 'styles/settings.scss' as s;
@use 'styles/mixins.scss' as mx;

.site-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    background: s.$white;
    box-shadow: 0 0 25px rgba(s.$black, 0.1);

    @include mx.breakpoint(medium) {
        display: none;
    }

    .nav-link {
        color: s.$body-color;
        position: relative;
        padding: 10px 30px;
        display: flex;

        .icon {
            font-size: 24px;
            line-height: 1;
        }

        .label {
            position: absolute;
            opacity: 0;
            font-size: 12px;
            bottom: 0;
            transform: translate(-50%, 10%);
            left: 50%
        }

        &.active {
            .icon {
                font-family: 'Material Icons';
                transform: translateY(-5px);
            }

            .label {
                opacity: 1;
            }
        }
    }
}

